[submodule "appserver/submodules/utility"]
	path = appserver/submodules/utility
	url = https://github.com/sergiocupa/utility.git
[submodule "appserver/submodules/yason"]
	path = appserver/submodules/yason
	url = https://github.com/sergiocupa/yason.git
