[submodule "appserver/submodules/yason"]
	path = appserver/submodules/yason
	url = https://github.com/sergiocupa/yason.git
[submodule "streammanager/submodules/yason"]
	path = streammanager/submodules/yason
	url = https://github.com/sergiocupa/yason.git
[submodule "appserver/submodules/xplatbase"]
	path = appserver/submodules/xplatbase
	url = https://github.com/sergiocupa/xplatbase.git
